---
import Page from "@layouts/page";
---

<Page title="About the Show">
  <div>
    <img
      src="/img/pausefordramaticeffect.com-about-hero-2022.jpg"
      alt="PAUSE for Dramatic Effect | About the Show"
      width="700"
      height="400"
    />
  </div>
  <h1 class="text-5xl font-bold">About the Show</h1>
  <h2 class="text-3xl font-bold">The Story</h2>
  <p class="text-lg text-base-content/80">
    <strong>Douglas Dire's</strong> world is one of isolation. Once a decorated Iraq
    War veteran, he now roams the streets haunted by the memory of friends lost in
    combat. With a fleeting grip on reality, a dark past full of unresolved pain,
    and a hopeless future, Douglas stumbles upon a ring in an empty parking lot that
    forces him to confront a secret he didn't know he was keeping.
  </p>

  <h2 class="text-3xl font-bold">Cast</h2>
  <ul>
    <li>
      Lamassu: <a href="https://www.stephanieycole.com/" target="_blank"
        >Stephanie Y. Cole</a
      >
    </li>
    <li>Captain Savage: <a href="#">Zach Bondo</a></li>
    <li>Amira Nazal: <a href="#">Emmett Bondo</a></li>
    <li>
      Agent Justin Time: <a href="https://createartpodcast.com/" target="_blank"
        >Timothy Kimo Brien</a
      >
    </li>
    <li>Agent Holly Day: <a href="#">Julie Bondo</a></li>
    <li>
      Douglas Dire and Zababa: <a
        href="https://www.linkedin.com/in/kylebondo/"
        target="_blank">Kyle M. Bondo</a
      >
    </li>
  </ul>

  <h2 class="text-3xl font-bold">Creator</h2>
  <ul>
    <li>
      Excutive Producer/Writer/Director: <a
        href="https://www.linkedin.com/in/kylebondo/"
        target="_blank">Kyle M. Bondo</a
      >
    </li>
    <li>
      Sound Design/Audio Editing/Foley: <a
        href="https://www.linkedin.com/in/kylebondo/"
        target="_blank">Kyle M. Bondo</a
      >
    </li>
  </ul>

  <h2 class="text-3xl font-bold">Licensed Music</h2>
  <ul>
    <li>
      <a
        href="https://audiojungle.net/item/dramatic-orchestral-cello-ident/23210762"
        target="_blank">Dramatic Orchestral Cello Ident</a
      >: Blacksmith
    </li>
    <li>
      <a
        href="https://audiojungle.net/item/cinematic-ambient-cello/24229871"
        target="_blank">Cinematic Ambient Cello</a
      >: Orchestralis
    </li>
    <li>
      <a
        href="https://audiojungle.net/item/tuvan-throat-singing-ensemble/17298529"
        target="_blank">Tuvan Throat Singing Ensemble</a
      >: Tim Donovan
    </li>
    <li>
      <a
        href="https://audiojungle.net/item/holy-plainchant/23048424"
        target="_blank">Holy Plainchant</a
      >: Tyler River
    </li>
    <li>
      <a
        href="https://audiojungle.net/item/my-friends-oasis/11903840"
        target="_blank">My Friend's Oasis</a
      >: French-Art
    </li>
    <li>
      <a href="https://audiojungle.net/item/inspiring/12467307" target="_blank"
        >Inspiring Uplifting Emotional Piano</a
      >: Red Lion Production
    </li>
  </ul>

  <h2 class="text-3xl font-bold">Awards</h2>
  <p class="pb-4 text-lg text-base-content/80">
    Pause for Dramatic Effect was a 2019 <a
      href="https://www.podcastawards.com/"
      target="_blank">People's Choice Podcast Awards</a
    > nominee in the <em>Fiction</em> and <em>Storyteller - Drama</em> categories.
  </p>

  <h2 class="text-3xl font-bold">Production Notes</h2>
  <ul>
    <li>Features friends and family (both volunteers and strong-armed)</li>
    <li>
      Homemade Foley sound effects using a <a
        href="https://amzn.to/3m22CRK"
        target="_blank">ZOOM H4N Pro</a
      >
    </li>
    <li>
      Pre-recorded music from <a href="https://audiojungle.net" target="_blank"
        >Audiojungle.net</a
      >
    </li>
    <li>
      Pre-selected, one-word writting prompt that is the title of each episode
      (that had to be included in the story)
    </li>
    <li>
      Episode scripts written the day before (and sometimes day-of) recording
      each episode
    </li>
    <li>
      In-house recording and audio editing done with <a
        href="https://www.adobe.com/products/audition.html"
        target="_blank">Adobe Audition</a
      >
    </li>
    <li>
      Additional voices (uncredited) by Kyle M. Bondo who filled to be all of
      extra character voices (of which there were several)
    </li>
  </ul>
</Page>
