---
import { published } from "@data/post";
import Blog from "@layouts/blog";
import Behind from "@components/blog/behind";

const markdownFiles = await Astro.glob("../content/behind1/**/*.md");
const posts = published(markdownFiles);
---

<Blog>
  <div class="pt-8">
    <img
      src="/img/pausefordramaticeffect.com-extras-hero-2022.jpg"
      alt="PAUSE for Dramatic Effect | Extras"
      width="700"
      height="400"
    />
  </div>
  <h1 class="text-5xl font-bold pt-8 pb-8">Extras</h1>
  <h2 class="text-3xl font-bold">Making of an Audio Drama</h2>
  <p class="pb-4 pt-4 text-lg text-base-content/80">
    Pause for Dramatic Effect is written, directed, and produced by Kyle M.
    Bondo (Gagglepod/<a href="https://oncetold.us" target="_blank">Oncetold</a>)
    as part of the 2019 <a href="http://napodpomo.org/" target="_blank"
      >NaPodPoMo (National Podcast Post Month) Challenge</a
    > (Produce 30 Episodes in 30 Days). At the end of the challenge, Season 1 of
    PAUSE included 17 chapters, 11 Behind the PAUSES "Making Of" episodes, and 2
    trailers.
  </p>
  <div>
    {posts.map((p) => <Behind post={p} />)}
  </div>
</Blog>
