---
import { published } from "@data/post";
import Blog from "@layouts/blog";
import Script from "@components/blog/script";

const markdownFiles = await Astro.glob("../content/script1/**/*.md");
const posts = published(markdownFiles);
---

<Blog>
  <div class="pt-8">
    <img
      src="/img/pausefordramaticeffect.com-extras-hero-2022.jpg"
      alt="PAUSE for Dramatic Effect | Scripts"
      width="700"
      height="400"
    />
  </div>
  <h1 class="text-5xl font-bold pt-8 pb-8">Scripts</h1>
  <h2 class="text-3xl font-bold">Audio Drama Episode Scripts</h2>
  <p class="pb-4 pt-4 text-lg text-base-content/80">
    Pause for Dramatic Effect is written, directed, and produced by Kyle M.
    Bondo (Gagglepod/<a href="https://oncetold.us" target="_blank">Oncetold</a>)
    as part of the 2019 <a href="http://napodpomo.org/" target="_blank"
      >NaPodPoMo (National Podcast Post Month) Challenge</a
    > (Produce 30 Episodes in 30 Days). At the end of the challenge, Season 1 of
    PAUSE included 17 chapters, 13 Behind the PAUSES "Making Of" episodes, and 2
    trailers.
  </p>
  <div>
    <!-- {posts.map((p) => <Script post={p} />)} -->
    <a
      href="https://storage.googleapis.com/storage.oncetold.net/80000001/pause-ch.01-ring-v3-10272019.pdf
"
      target="_blank">Pause Chapter 1 - Ring [PDF]</a
    >
  </div>
</Blog>
