<footer class="footer footer-center p-4">
  <div>
    <p class="text-xs text-base-content/70">
      &copy; Copyright {new Date().getFullYear()} –
      <a
        class="link"
        href="https://pausefordramaticeffect.com/"
        target="_blank"
      >
        PAUSE for Dramatic Effect</a
      > Gagglepod and
      <a class="link" href="https://oncetold.us" target="_blank"> Oncetold</a>.
    </p>
  </div>
</footer>
